@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Force burger button visibility */
.bm-burger-button {
  position: fixed !important;
  width: 30px !important;
  height: 25px !important;
  left: 16px !important;
  top: 16px !important;
  z-index: 9999 !important;
}

.bm-burger-bars {
  background: white !important;
}
